[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
spacy = "*"
pytest = "*"
ipdb = "*"
ignite = "*"
scikit-learn = "*"
torch = "*"
pytorch-ignite = "*"
torchtext = "*"
pytorch-pretrained-bert = "*"
pandas = "*"

[requires]
python_version = "3.6"
